<div class="wrapper">

    <div class=" box-gray-line"></div>

    <div class="box box-name font-effect-canvas-print">JESSICA OWENS</div>

    <div class="box box-title font-effect-canvas-print">Web Developer & Designer</div>

    <div class="box-gray-line"></div>

    <div class="box box-github">Github</div>
    <div class="box box-twitter">twitter</div>
    <div class="box box-linked-in">linkedIn</div>
    <div class="box box-blog">Blog</div>

    <div class="box-gray-line"></div>

    <div class="box box-production-code">Production Code</div>
    <div class="box box-personal-project">Personal Project</div>

    <div class="box-gray-line"></div>
</div>